<launch>

	<!-- Laser -->
	<node name="hokuyo_node" pkg="hokuyo_node" type="hokuyo_node" args="/dev/hokuyo" />

	<!-- IMU -->
	<node name="phidgets_imu_node" pkg="phidgets_imu" type="phidgets_imu_node" />

	<!-- GPS -->
	<node name="nmea_serial_driver" pkg="nmea_navsat_driver" type="nmea_serial_driver" />

	<!-- Camera -->
	<node name="uvc_camera_node" pkg="uvc_camera" type="uvc_camera_node" args="/dev/ttyACM0" />

	<!-- Rosserial -->
	<node name="serial_node.py" pkg="rosserial_python" type="serial_node.py" args="/dev/arduino" />

</launch>